<%- include('partials/header') %>
<div class="container">
<% if (add || student) { %>
	<form method="post" action="/<%=add ? 'add' : `edit/${student.id}`%>">
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="first-name">First Name</label>
				<input type="text" class="form-control" name="first_name" value="<%=student.first_name%>" required>
			</div>
			<div class="form-group col-md-6">
				<label for="last-name">Last Name</label>
				<input type="text" class="form-control" name="last_name" value="<%=student.last_name%>" required>
			</div>
			<div class="form-group col-md-6" <% if (add) { %> display: none <%}%>>
				<label for="id-number">Student ID</label>
				<input type="text" class="form-control" name="id_number" value="<%=student.id_number%>" readonly required>
			</div>
			<div class="form-group col-md-6">
				<label for="email">Email</label>
				<input type="email" class="form-control" name="email" value="<%=student.email%>" required>
			</div>
			<div class="form-group col-md-6">
				<label for="phone_number">Phone Number</label>
				<input type="tel" class="form-control" name="phone_number" value="<%=student.phone_number%>" required>
			</div>
			<div class="form-group col-md-6">
				<label for="dateOfBirth">Date Of Birth</label>
				<input type="date" class="form-control" name="dateOfBirth" value="<%=student.dateOfBirth%>" required>
			</div>
			<div class="form-group col-md-6">
				<label for="gEmail">Guardian Email</label>
				<input type="email" class="form-control" name="gEmail" value="<%=student.gEmail%>" required>
			</div>
			<div class="form-group col-md-6">
				<label for="guardianPhone">Guardian Phone Number</label>
				<input type="tel" class="form-control" name="guardianPhone" value="<%=student.guardianPhone%>" required>
			</div>
			<div class="form-group col-md-6">
				<label for="notes">Notes</label>
				<input type="text" class="form-control" name="notes" value="<%=student.notes%>" required>
			</div>
			<div class="form-group col-md-6">
				<label for="interests">Hobbies/Interests.</label>
				<input type="text" class="form-control" name="interestsAndHobies" value="<%=student.interests%>" >
			</div>


		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label for="grade">Grade</label>
				<select name="grade" class="form-control" required>
					<% let grades = ["6th", "7th", "8th", "9th", "10th", "11th", "12th", "College Freshman", "College Sophmore", "College Junior", "College Senior"]; %>
					<% for (let i = 0; i < grades.length; i++) { %>
						<option <% if (student.grade == grades[i]) { %> selected <% } %>><%= grades[i] %></option>
					<% } %>
				</select>
			</div>
			<div class="form-group col-md-6">
				<label for="school">School</label>
				<select name="school" class="form-control" required>
					<% let schools = ["Berea-Midpark High School", "Solon High School", "Lakewood High School", "Westlake High School"]; %>
					<% for (let i = 0; i < schools.length; i++) { %>
						<option <% if (student.school == schools[i]) { %> selected <% } %>><%= schools[i] %></option>
					<% } %>
				</select>
			</div>
	</div>
		<button type="submit" class="btn btn-success float-right"><%= add ? 'Add' : 'Update' %> Student</button>
	</form>
	<% if (student.status == "inactive") { %>
		<a href="/reactivate/<%= student.id %>" class="btn btn-info float-left">Reactivate</a>
	<% } %>
<% } else { %>
	<p class="text-center">Student Not Found.</p>
<% } %>
</div>
</div>
</body>
</html>
